body {
  background-image: url("blackjack_background.jpeg");
  background-size: cover;
  font-weight: bold;
  color: white;
  text-align: center;
}

h1 {
  margin-top: 100px;
  color: goldenrod;
}

#message-el {
  font-style: italic;
}

#note {
  color: rgb(197, 165, 85);
}

button {
  color: #016f32;
  width: 150px;
  background-color: goldenrod;
  padding: 7px;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  margin: 4px;
  transition-duration: 0.2s;
}

button:hover {
  transform: scale(1.05);
  color: white;
}
